﻿<p>LookingInSpeakingOut presents videos collectively made by Crossing
Communities Art Project and the women and youth who come to our studios .
Their videos courageously reveal lived experiences including the sex trade,
self-harm, addictions, HIV, violence, suicide, being transgendered, being
widowed, and other perspectives that often aren't included in public places.
We hope you will respond to what you see with your thoughts and join us in
dialogues towards social change.</p>

<p>To find out more about Crossing Communities please go to <a href="http://www.crossingcommunities.org/" target="_blank"><strong>
www.crossingcommunities.org</strong></a> and to find out more about our partner in
LookingInSpeakingOut go to the National Film Board of Canada website <a href="http://www.nfb.ca/" target="_blank"><strong>www.nfb.ca</strong></a>.</p>

<p>To make a donation to Crossing Communities Art Project please visit <a href="http://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s82941" target="_blank"><strong>canadahelps.org</strong></a></p>
<p><strong>lookinginspeakingout.com credits</strong></p>
<p>Crossing Communities Art Project Staff:<br />
Edith Regier, Artistic Director &amp; Founder<br />
Stephanie Scott, Project Coordinator<br />
Alison Davis, New Media Coordinator</p>
<p>Asian Partner: Women Foundation Nepal</p>
<p>Asian Advisor: Dr. Emma Alexander-Mudaliar</p>

<p>Website Design:<br />
<a href="http://www.notsosimpleton.com/">Myron Campbell</a></p>
<p>Programming:<br />
Nicholas Hillier</p>