﻿<p>SECTION 2.0 - PRIVACY POLICY</p>
<p>Respecting the privacy and confidentiality of your personal information is important to us. This website Privacy Policy explains how LISO collects, uses and discloses your personal information on the Website.<br />
The purpose of this Policy is to make Visitors and LISO Members aware of how we protect the privacy and confidentiality of your personal information and the circumstances under which we use your personal information.</p>
<p>2.1 What is personal information? Personal information is information about an identifiable individual, not including business contact information (i.e. information that would allow an individual to be contacted at their place of business, or work product information). For example, personal information includes such things as your first and last names, date of birth, e-mail address, preferred language, place of residence, including city, Province, State and Country.<br />
2.2    Username and Password. Your username and password are personal to you and you may not allow any others to use your username or password under any circumstances. You can edit or change your password at any time.  We are not liable for any harm caused or related to the theft or misappropriation of your username or password, disclosure of your username or password, or your authorization of anyone else to use your username or password.  You agree to immediately notify us if you become aware of or believe there is or may have been any unauthorized use of (or activity using) your username or password or any other need to deactivate your username or password due to security concerns.<br />
2.3    What are the purposes for collection, use and disclosure of personal information? LISO collects, uses and discloses your personal information with your knowledge and consent and only for purposes that we have identified prior to or at the time we collect the information. Some of the purposes for which we may collect, use and disclose your personal information on this Website are:<br />
To facilitate communication with you;<br />
To process any of your requests for information;<br />
To grant/enable you to access certain special features or areas of the Website., including the ability to upload your Original Content to modify, recombine and remix all Original Content to create Derivative Content; <br />
To make certain other services available to you through the Website;<br />
To permit you to subscribe to an e-mail list to receive updates from the Website; and<br />
To announce special events and advise you of changes to the Website.<br />
LISO will not sell, trade, lend or otherwise voluntarily disclose to any third parties any personal information that you have provided to us for any purpose not identified under this Privacy Policy. We may share your personal information with third parties to assist us to administer activities on this Website, such as for website administration and maintenance, administration of contests and data processing, to our professional advisors or otherwise for legitimate and reasonable purposes for which we have obtained your prior consent.
In certain circumstances, we may disclose your personal information to a government institution that has asserted its lawful authority to obtain the information or where we have reasonable grounds to believe the information could be used in the investigation of an unlawful activity, or to comply with a subpoena or warrant or an order made by a court, person or body with jurisdiction to compel production of information or to comply with court rules regarding a production of records and information, or to our own legal counsel.
When you provide us with your personal information, such as to sign up to receive e-mails about our activities, you are consenting to the collection, use and disclosure of your personal information for these purposes in accordance with the principles that are outlined in the Privacy Policy.
If you have given us your consent, you may at any time withdraw your consent upon giving us reasonable notice. However, withdrawal of consent does not terminate LISO's ongoing rights and licenses in and to your Original Content and Derivative Content.
We specifically confirm that from time-to-time, we will publically display your first name, your City and Country alongside of your Original Works and Derivative Works as a means to afford your credit, as well as to promote LISO, and that by becoming a LISO Member, you are consenting to the public use of your first name, City and Country information in this manner.<br />  
2.4    Use of technology on the website. The Website uses cookie technology to make your use of the Website more convenient. A cookie is a text file which enables the Website to store any information about your activities on the Website or the length of your stay. Personal information about your visits to the Website is used on an aggregate basis, which means it is used for statistical purposes to assist us in enhancing your online experience, or to evaluate the materials that we may carry on the Website.
LISO may also use the cookies to monitor polling results. The cookies will monitor results to discourage voting twice in one poll. This will give us the ability to properly count activity reports and polling results.
In addition, the cookie will store your e-mail address, which is your unique identifier, so that on return visits the Website will be able to match you to your identity in the database. This is an opt-in feature which will only be made operational if you choose to do so.
If you choose to disable cookies associated with the Website, this may affect your use of the Website and your ability to access certain features of the Website. <br />
2.5    E-mail list. The Website allows you to provide us with your e-mail address in order that we may send you information and updates about LISO activities. In order to administer the e-mail list we will collect your name, e-mail address, geographical location. We may also collect other information as may be required from time to time in connection with the services offered on the Website.<br />
2.6    Links to other sites. This Website may contain links to other websites. When you click on of those links, you are contacting another internet resource. LISO has no responsibility or liability for, or control over those websites, or internet resources or their collection, use and disclosure of your personal information. Please refer to the privacy policy and terms of use contained in any linked site you choose to go to, and familiarize yourself with that website's terms and conditions of use.<br />
2.7    How do we protect your personal information. The Website endeavours to maintain appropriate procedural and technological measures and storage facilities to prevent any unauthorized use or disclosure of your personal information. We exercise care in the secure transmission of your information, however no transmission of information over the internet is one hundred percent secure. We cannot guarantee that information disclosed through the internet cannot be intercepted by third parties. LISO is taking the steps that are reasonably available to it to protect any personal information that is provided to it through this Website including, in its disposal or destruction.<br />
2.8    Contacting us about your privacy. You may request access to your personal information and information about our collection, use and disclosure of information by Contacting Us. LISO attempts to keep records as accurate and complete as possible. You can help us maintain the accuracy of your information by notifying us of any changes to your personal information.
This Privacy Policy may be changed from time to time at our sole discretion and without any prior notice. New versions of this Privacy Policy will be posted here. Your continued use of this Website, subsequent to any changes to the Privacy Policy, will signify that you consent to our collection, use and disclosure of your personal information in accordance with the revised Privacy Policy.</p>