﻿<p>Terms of Use and Privacy Policy</p>
<p>LISO</p>
<p>*Read Privacy Policy</p>
<p>Welcome to Looking In Speaking Out (LISO), the collaborative art website, owned and operated by the Crossing Communities Art Project (CCAP) and located at the URL http://www.lookinginspeakingout.com. </p>
<p>LookingInSpeakingOut.com presents videos collectively made by Crossing Communities Art Project and the women and girls who come to our studios . Their videos courageously reveal lived experiences including the sex trade, self-harm, addictions, HIV, violence, suicide, being transgendered, being widowed, and other perspectives that often aren't included in public places. We hope you will respond to what you see with your thoughts and join us in dialogues towards social change. To find out more about Crossing Communities please go to  <a href="http://www.crossingcommunities.org" target="_blank">www.crossingcommunities.org</a> and to find out more about our partner in LookingInSpeakingOut go to the National Film Board of Canada website <a href="http://www.nfb.ca/" target="_blank">www.nfb.ca</a>.</p>
<p>Sections</p>
<p>1.0    Membership Agreement and Terms of Use<br />
2.0    Privacy Policy<br />
Please Read This Document Carefully!  This Agreement (the "Agreement") governs your relationship with LISO respecting LISO and describes the legally binding terms for your access to and use of the Website.</p>
<p>
SECTION 1.0 - MEMBERSHIP AGREEMENT AND TERMS OF USE<br />
1.1    By using the Website, you agree to be bound by this Agreement and all applicable laws governing this Agreement. If you do not agree with any of it, you should leave the Website and discontinue your use of it immediately.<br />
1.2    LISO reserves the right to modify any or all terms of this Agreement from time to time and such modification shall be effective immediately upon being posted on the Website. You agree to be bound to any changes to this Agreement when you use the Website after any such modification is posted.<br />
1.3    When you become a LISO Member, you will have an opportunity to create a profile containing your personal information (a "Profile"), receive a membership and to post comments or dialogue about Original or Derivative Works. All information provided by you as part of your Profile shall be governed by the Privacy Policy attached in Section 2.0 hereto. All Original Works and Derivative Works shall be available for Visitors to view and for other LISO Members.<br />
1.4 Your Profile and dialogue may not include nor link to, any content or information that is perceived by LISO as being racist, defamatory, pornographic, offensive, obscene, lewd, excessively violent, harassing, sexually explicit, discriminatory or otherwise illegal or objectionable in nature, nor shall it include passwords, viruses, spyware, malware, illegal software or warez or any hyperlinks to same. If you become aware of misuse of the Website by any person, please Contact Us.<br />
1.5    You acknowledge that LISO has the right but not the obligation to monitor the Website, and LISO does not assume any responsibility for your dialogue that you create, for which you retain complete responsibility. LISO does not endorse any LISO Member's content nor does any LISO Member's content posted on the Website necessarily reflect the views and opinions of LISO. LISO makes no warranties, express or implied, as to any LISO Member's content, or to the accuracy or reliability of any LISO Member's content or to any material or information transmitted from one LISO Member to another.<br />  
1.6    LISO shall have the right to use (or not use), modify, edit, alter, remix, juxtapose, compile, publish, display, reproduce, publicly perform, broadcast, exhibit, promote, advertise, market, and content (collectively known as the "Authorized Uses") without your prior written consent, so long as such Authorized Uses are connected directly to the promotion of LISO.<br />
1.7    You represent and warrant that your Original Works are all original to you and are owned or licensed in their entirety by you at the time of the upload and that you have the unencumbered right to make the grant of license set forth in the preceding paragraph.<br />
1.8    LISO is not obliged to pay you any consideration, royalties, fees or buy-outs of any kind or nature for your content contribution. All claims for monetary or non-monetary consideration, compensation, royalties, fees or buy-outs for your content contribution, along with any claims for droit moral, are expressly and forever waived by you.<br />
1.9 Third party commercial advertisements, affiliate links, and other forms of solicitation shall be removed without notice and may result in suspension of your LISO Membership.<br />
1.10    Except as permitted by the LISO you are not permitted to use LISO identification, as a reference or means of promotion or publicity. Furthermore, you will not create an association, express or implied, between you and LISO.<br />
1.11    You may cancel your LISO Membership at any time by emailing newmedia@crossingcommunities.org. Cancellation of LISO Membership does not terminate LISO's ongoing rights above (1.7).<br />
1.12    LISO reserves the right, but not the obligation, to delete any information about any LISO Member and further reserves the right to unilaterally remove from the Website any material that it deems to be in violation of this Agreement. However, given the "always on" nature of the world-wide web, it is realistic to expect that, at times, the Website may contain material that you are offended by. If you encounter such content, please immediately notify us at Contact Us.<br />
1.13    LISO owns all right, title and interest, including without limitation all intellectual property rights, and all derivative works or enhancements thereof, relating to the Website (and any derivative works or enhancements thereof), including but not limited to all information, content, materials, products, services, URLs, software, technology, editorial or user guidelines, documentation and music, and shall be permitted unfettered use of this material. You shall not acquire any right, title or interest therein, except for the limited use rights to modify, recombine and remix Original Content and Derivative content expressly set forth in this Agreement. Any rights not expressly granted herein are deemed withheld.<br />
1.14    You agree to defend, indemnify and hold LISO and its respective affiliates, officers, directors, employees, shareholders, heirs and assigns, agents, funders and licensees harmless from and against any and all costs, claims, fines, penalties, demands, investigations, liabilities, losses, damages, judgments, settlements, costs and expenses, including reasonable legal and accounting fees arising out of or in connection with your use of the Website (including anyone acting under your password or LISO Membership username), or any alleged violation by you of any of the terms contained in this Agreement. Notwithstanding the foregoing, LISO retains the exclusive right to defend, settle, and pay any and all claims, demands, proceedings, suits, actions or causes of actions which are brought against LISO and in no event shall you settle any such claim without our prior written approval.<br /> 
ACCORDINGLY, THIS WEBSITE, INCLUDING ALL CONTENT MADE AVAILABLE ON OR ACCESSED THROUGH OR SENT FROM THE WEBSITE, IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.
LISO DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF ANY RIGHTS OF ANY THIRD PARTIES OR ANY LAWS.  LISO DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE WEBSITE OR ANY CONTENT CONTAINED THEREIN WILL BE UNINTERRUPTED OR ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; OR THAT THE WEBSITE OR THE SERVERS THAT MAKE IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. LISO SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES THAT MAY RESULT FROM OR IN CONNECTION WITH THE USE OF, OR THE INABILITY TO USE, OR FROM ANY ERRORS OR OMISSIONS CONTAINED ON, THE WEBSITE OR ANY CONTENT OR SERVICE THEREIN, EVEN IF LISO HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
<p>SECTION 2.0 - PRIVACY POLICY</p>
<p>Respecting the privacy and confidentiality of your personal information is important to us. This website Privacy Policy explains how LISO collects, uses and discloses your personal information on the Website.<br />
The purpose of this Policy is to make Visitors and LISO Members aware of how we protect the privacy and confidentiality of your personal information and the circumstances under which we use your personal information.</p>
<p>2.1 What is personal information? Personal information is information about an identifiable individual, not including business contact information (i.e. information that would allow an individual to be contacted at their place of business, or work product information). For example, personal information includes such things as your first and last names, date of birth, e-mail address, preferred language, place of residence, including city, Province, State and Country.<br />
2.2    Username and Password. Your username and password are personal to you and you may not allow any others to use your username or password under any circumstances. You can edit or change your password at any time.  We are not liable for any harm caused or related to the theft or misappropriation of your username or password, disclosure of your username or password, or your authorization of anyone else to use your username or password.  You agree to immediately notify us if you become aware of or believe there is or may have been any unauthorized use of (or activity using) your username or password or any other need to deactivate your username or password due to security concerns.<br />
2.3    What are the purposes for collection, use and disclosure of personal information? LISO collects, uses and discloses your personal information with your knowledge and consent and only for purposes that we have identified prior to or at the time we collect the information. Some of the purposes for which we may collect, use and disclose your personal information on this Website are:<br />
To facilitate communication with you;<br />
To process any of your requests for information;<br />
To grant/enable you to access certain special features or areas of the Website., including the ability to upload your Original Content to modify, recombine and remix all Original Content to create Derivative Content; <br />
To make certain other services available to you through the Website;<br />
To permit you to subscribe to an e-mail list to receive updates from the Website; and<br />
To announce special events and advise you of changes to the Website.<br />
LISO will not sell, trade, lend or otherwise voluntarily disclose to any third parties any personal information that you have provided to us for any purpose not identified under this Privacy Policy. We may share your personal information with third parties to assist us to administer activities on this Website, such as for website administration and maintenance, administration of contests and data processing, to our professional advisors or otherwise for legitimate and reasonable purposes for which we have obtained your prior consent.
In certain circumstances, we may disclose your personal information to a government institution that has asserted its lawful authority to obtain the information or where we have reasonable grounds to believe the information could be used in the investigation of an unlawful activity, or to comply with a subpoena or warrant or an order made by a court, person or body with jurisdiction to compel production of information or to comply with court rules regarding a production of records and information, or to our own legal counsel.
When you provide us with your personal information, such as to sign up to receive e-mails about our activities, you are consenting to the collection, use and disclosure of your personal information for these purposes in accordance with the principles that are outlined in the Privacy Policy.
If you have given us your consent, you may at any time withdraw your consent upon giving us reasonable notice. However, withdrawal of consent does not terminate LISO's ongoing rights and licenses in and to your Original Content and Derivative Content.
We specifically confirm that from time-to-time, we will publically display your first name, your City and Country alongside of your Original Works and Derivative Works as a means to afford your credit, as well as to promote LISO, and that by becoming a LISO Member, you are consenting to the public use of your first name, City and Country information in this manner.<br />  
2.4    Use of technology on the website. The Website uses cookie technology to make your use of the Website more convenient. A cookie is a text file which enables the Website to store any information about your activities on the Website or the length of your stay. Personal information about your visits to the Website is used on an aggregate basis, which means it is used for statistical purposes to assist us in enhancing your online experience, or to evaluate the materials that we may carry on the Website.
LISO may also use the cookies to monitor polling results. The cookies will monitor results to discourage voting twice in one poll. This will give us the ability to properly count activity reports and polling results.
In addition, the cookie will store your e-mail address, which is your unique identifier, so that on return visits the Website will be able to match you to your identity in the database. This is an opt-in feature which will only be made operational if you choose to do so.
If you choose to disable cookies associated with the Website, this may affect your use of the Website and your ability to access certain features of the Website. <br />
2.5    E-mail list. The Website allows you to provide us with your e-mail address in order that we may send you information and updates about LISO activities. In order to administer the e-mail list we will collect your name, e-mail address, geographical location. We may also collect other information as may be required from time to time in connection with the services offered on the Website.<br />
2.6    Links to other sites. This Website may contain links to other websites. When you click on of those links, you are contacting another internet resource. LISO has no responsibility or liability for, or control over those websites, or internet resources or their collection, use and disclosure of your personal information. Please refer to the privacy policy and terms of use contained in any linked site you choose to go to, and familiarize yourself with that website's terms and conditions of use.<br />
2.7    How do we protect your personal information. The Website endeavours to maintain appropriate procedural and technological measures and storage facilities to prevent any unauthorized use or disclosure of your personal information. We exercise care in the secure transmission of your information, however no transmission of information over the internet is one hundred percent secure. We cannot guarantee that information disclosed through the internet cannot be intercepted by third parties. LISO is taking the steps that are reasonably available to it to protect any personal information that is provided to it through this Website including, in its disposal or destruction.<br />
2.8    Contacting us about your privacy. You may request access to your personal information and information about our collection, use and disclosure of information by Contacting Us. LISO attempts to keep records as accurate and complete as possible. You can help us maintain the accuracy of your information by notifying us of any changes to your personal information.
This Privacy Policy may be changed from time to time at our sole discretion and without any prior notice. New versions of this Privacy Policy will be posted here. Your continued use of this Website, subsequent to any changes to the Privacy Policy, will signify that you consent to our collection, use and disclosure of your personal information in accordance with the revised Privacy Policy.</p>
<p>BINDING CONSENT</p>
<p>This Agreement and any amendments thereto which are posted on the Website from time to time constitutes the entire agreement between you and LISO with respect to the use of the Website. This Agreement is to be governed by and construed in accordance with the laws of the Province of Manitoba, Canada and no other jurisdiction and any litigation relating to this Agreement shall be brought solely Manitoba, and the courts of Manitoba shall have exclusive jurisdiction over all matters herein. If any provision shall be unlawful, void, or for any reason unenforceable, then such provision shall be severable and shall not affect the validity and enforceability of any remaining provisions.</p>
<p>If you have any questions, comments or concerns about the Website or this Agreement, you may reach us at Contact Us.</p>
<p>I HAVE READ THIS AGREEMENT AND AGREE TO ALL OF THE PROVISIONS CONTAINED HEREIN.</p>