@CHARSET "ISO-8859-1";

body {
	font-family:Verdana;
	color:#333333;	
}

table {
	padding:0px;
	margin:0px;
	border:0px;
}

table th {
	padding:5px;
	margin:0px;
	border-bottom:1px solid #333333;
	border-top:1px solid #333333;
}

table tr td {
	padding:5px;
	margin:0px;
	border-bottom:1px solid #333333;	
}


.even {
	background-color:#EFEFEF;
}

.odd {
	background-color:#FFFFFF;	
}

.disabled{
	color:#AFAFAF;
}

.active{
	color:#FFFFFF;
	background-color:#666666;
	padding:3px 8px;
}

.mediated {
	width:25px;
	height:25px;
	background-color:#00DD00;
}

.notMediated {
	width:25px;
	height:25px;
	background-color:#DD0000;
}

.approved {
	width:25px;
	height:25px;
	background-color:#00DD00;
}

.notApproved {
	width:25px;
	height:25px;
	background-color:#DD0000;
}

img {
	border-width:0px;	
}

a {
	border-width:0px;
	text-decoration:none;
}

#navigation {
	padding: 10px;
}

#pagination {
	padding: 10px;
}