<p><strong>'Empty</strong>', <strong>'Gimme My Fix'</strong> and '<strong>White to Red</strong>',&nbsp; three videos produced for Looking In Speaking Out were presented at imagineNATIVE Film + Media Arts Festival in Toronto in mid-October.</p>
<p>The imagineNATIVE Film + Media Arts Festival is an international
festival that celebrates the latest works by Indigenous peoples on the
forefront of innovation in film, video, radio, and new media. Each
fall, the festival presents a selection of the most compelling and
distinctive Indigenous works from around the globe. The festival's
screenings, parties, panel discussions, and cultural events attract and
connect filmmakers, media artists, programmers, buyers, and industry
professionals. The works accepted reflect the diversity of the world's
Indigenous nations and illustrate the vitality and excellence of our
art and culture in contemporary media.</p>