<p>lookinginspeakingout.com is celebrating its launch at the Winnipeg Art Gallery - Muriel Richardson Auditorium <br />
Thursday November 19, 2009. <br />
FREE<br />
The event will include a program of short videos from lookinginspeakingout.com as well as a SpeakOut public forum. </p>
<p>The First Speakers will be:</p>
<p>Alexus Young - Crossing Communities Filmmaker &amp; Presenter<br />Tonya Tabobondung - Crossing Communities Filmmaker &amp; Presenter<br />Jackie Traverse - Crossing Communities Filmmaker &amp; Presenter<br />Jeremy Choken - Crossing Communities Member &amp; Hip Hop Artist<br />Pat Aylesworth - Multi-Media Artist  &amp; Crossing Communities Video Intern<br />Edith Regier - Artistic Director of Crossing Communities<br />Bandita Thapa - Director of Women Foundation Nepal<br />Mary Scott - Chair of UNIFEM Canadian Committee, Winnipeg Chapter<br />Stella Zola Lejohn - Co-Chair of Beijing &rsquo;95 </p>
<p>A reception with light snacks and cash bar will follow.</p>
<p>For more information email info@lookinginspeakingout.com or call (204) 947-5430.</p>