<p>Welcome to Looking In Speaking Out</p>
<p>Looking In Speaking Out presents videos collectively made by Crossing Communities Art Project and the women and girls who come to our studios.&nbsp; </p>
<p>Their videos courageously reveal lived experiences including the sex trade, self-harm, residential school, addictions, HIV, violence, suicide, being transgendered, being widowed, and other persepectives that often aren't included in public spaces.&nbsp; We hope you will respond to what you see with your thoughts and join us in dialogue towards social change.&nbsp; </p>
<p>Please visit our Speaking Out area to discuss issues and ideas either from a personal lived experience or something from social, political, or economic viewpoints.&nbsp; Have fun, be honest but most important be respectful.</p>
<p>If you have any suggestions for links or articles that relate to content on the site please email info@lookinginspeakingout.com.&nbsp; We will be updating content on a weekly basis.</p>