<p>Welcome to the first monthly newsletter of lookinginspeakingout.com!<br />
This newsletter will update you on lookinginspeakingout.com's new content and upcoming events.
</p>
<p>Since lookinginspeakingout.com launched with an event at the <a href="http://wag.ca/">Winnipeg Art Gallery </a>in November, three new videos have been added to the site.<br />
<strong><em>Two Scoops</em></strong><em></em>(2009) 3 minutes<br />
Two Scoops relates the experience of an Anishinabe girl whose family lived through residential schools and whose brothers and sisters were adopted out as part of the 60's and 70's Scoops. The 60's Scoop was an unofficial policy of the Government of Canada that saw thousands of Aboriginal children removed from their families and adopted into non-Aboriginal homes. This policy continued the legacy of culture loss and family disintegration that began with the residential schools from the 1880's onwards. Collectively directed by Jackie Traverse &amp; Crossing Communities Art Project.<br />
<strong><em>WHO WANTS TO BE ON WELFARE?!</em></strong><em></em> (2009)  1:30 minutes<br />
In this video Alexus Young introduces a fabulous new gameshow WHO WANTS TO BE ON WELFARE?! Don't miss out! Collectively directed by Alexus Young &amp; Crossing Communities Art Project.<br />
<strong><em>DJ's Wilderness Adventure </em></strong><em></em>(2007) 3 minutes<br />
A visit to the woods causes DJ to reflect on her culture, her fears and her successful return to school.</p>
<p>Stay tuned for new videos to be posted in January, as well as information about launches to take place in Montreal, Ottawa and Vancouver.</p>
<p>Have a Happy and Safe Holiday Season! </p>