<p>January 7, 2010</p>
<p>So I've been here 3 days now. At first when sitting in holding I thought about my circumstances. I know that I'll be here for a while. I think I need to be here. I can't stop smoking crack out there but have no choice in here.</p>
<p>A lot of people probably say they'll change and this is the last time they're coming here. Well I mean it. I'll use this time to get all the help I need. I've already put in requests to see the unit manager and attend CA meetings. </p>
<p>I was finally able to talk to my daughter today. My mom told her where I was. My mom thought she'd be devastated. But surprisingly she wasn't. She and the rest of my family are probably relieved to know where I am and that I'm alive. I hope that I'm able to use this time to help myself and not get caught up in the drama or add any more charges to my record. </p>
<p>I'm 32 years old... never been in jail before....going to be maxed out. Is this the start of my jail career? I hope not!</p>
<p>-Tonya</p>