<p><strong>We added 2 New Videos in January!</strong></p>
<p><em><strong>What Does it Mean to be Aboriginal?</strong></em>(2009) 2 minutes<br />What does it mean to be Aboriginal in Canada today? What are the traditions, beliefs, experiences &amp; ancestry, that create Aboriginal identity? What are the stereotypes, social issues and racist conceptions that hurt Aboriginal identity? A young man asks these questions in this spoken word video. Spoken word piece written and performed by Jeremy Choken. </p>
<p><em><strong>Stigma, Barriers, Change </strong></em>(2009) 2 minutes<br />A video created with participants at the Custody and Caring Pre-Conference Workshop: Implications for Women's Healing from Problematic Substance Abuse in Saskatoon, Saskatchewan. We asked participants to write a comment, and perform an action on the topic of Stigma, Barriers or Change for women recovering from addictions.</p>
<p>Also posted in January, <em><strong>Tonya's Letter from the Winnipeg Remand Centre</strong></em>. Tonya is currently incarcerated in the Winnipeg Remand Centre. In her letter she relates some of her thoughts and feelings about this turn in her life. Find it in the NEWS section.</p>
<p>Coming up in February:</p>
<p><em><strong>Bus Stories</strong></em> (2009) 3 minutes<br /> New Immigrant and Aboriginal Youth describe experiences they've had riding the bus in Winnipeg. The stories reveal everything from racism to unexpected connections.</p>
<p><em><strong>Won't You Tell Me Why?</strong></em> (2010) 2 minutes<br /> A new video by Alexus Young , a playful exploration of the eternal question, "Why do bad things happen to good people?" </p>
<p>In March we will be presenting Looking In Speaking Out in Montreal stay tuned for details.</p>